<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <img src="img/logo-meli-mobile.png"  alt="=" menu-toggle="left">
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/search">
          <i class="icon ion-search"></i>Buscar
        </ion-item>
        <ion-item menu-close ng-click="login()">
          <i class="icon ion-grid"></i>Categorias
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          <i class="icon ion-android-favorite"></i>Favoritos
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          <i class="icon ion-ios-pricetag"></i>Vender
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
