<ion-view view-title="Mercado Libre">
  <ion-content ng-controller='SearchCtrl as sc'>
    <div class="list list-inset">
        <form ng-submit="buscar()">
            <div class="bar bar-header item-input-inset">
              <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Productos..." ng-model="inputSearch">
              </label>
              <button class="button button-clear">Buscar</button>
            </div>
        </form>
    </div>

    <div class="list">
        <ul>
          <li ng-repeat='p in productos' class="row search-items">
              <div class="col col-90">
                <a class="item item-avatar" href="{{p.permalink}}">
                  <img src="{{p.thumbnail}}">
                  <h2>{{p.title}}</h2>
                  <p>{{p.price}}</p>
                </a>
              </div>
              <div class="col col-center addToFavs" ng-click="addToFavs(p)">
                <i class="ion-android-favorite-outline"></i>
              </div>
          </li>
        </ul>
    </div>

  </ion-content>
</ion-view>
